:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
  }
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }
  
  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }
  
  .msger-chat {
    flex: 1;
    
    padding: 10px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido supera la altura máxima */
    max-height: 70vh; /* Establece una altura máxima para el área de chat */
  
  }
  .msger-chat::-webkit-scrollbar {
    width: 8px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 900px;/*450*/
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }
  .msger-audio-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-audio-btn:hover {
    background: rgb(0, 180, 50);
  }
  
    
  .msger-chat {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido supera la altura máxima */
    max-height: 400px; /* Establece una altura máxima para el área de chat */
  }



  .btn-record {
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 10px;
   background: rgb(0, 196, 65);
    
}
/*.btn-record:hover {
  background: rgb(0, 180, 50);
}*/

.btn-record-green {
    background-color: #12d338;
}

.btn-record-red {
    background-color: #dc3545;
}

.btn-record img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.record-spinner {
    color: white;
    width: 30px;
    height: 30px
}

.mic-img {
    width: 30px;
}
  
.voz-container {
  display: flex; /* Establece el contenedor como un flex container */
  justify-content: center; /* Alinea horizontalmente los elementos */
}

.voz-label {
  font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  margin-right: 1px; /* Espacio entre el texto y el checkbox */
}

.voz-checkbox {
  margin-left: 1px; /* Espacio entre el checkbox y otros elementos */
}
